.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {

  margin: 15px;

  height: 100%;
}
.bubble{
  
 padding: 10px;
 border-width: 10;
 outline: 3px solid #474948 ;
 border-top: 7;
  height: 390px;
  margin-bottom: 15px;

}
.setting{
 
  box-sizing: border-box;
  
  outline: 3px solid #4a4d4b;
  
  border-width: 4;
  align-items: center;
  height: 120px;
  margin: 0%;
  display: flex;
  flex-direction: row;
 


}


.SELECT{
  margin-right: 50px;
  border-radius: 25px;
  
  height: 45px;
  width: 200px;
  margin-bottom: 25px;
  font-Size: 23px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #494e4c;
  outline: 2px solid #929694;
}
#search{
  margin-top: 15px;
  size: 30px;
  height: 40px;
  width: 25%;
  margin-left: 100px;
  outline: 2px solid #9ba19e;
  
  border-radius: 25px;
}

input::placeholder {
  color: #484e4b;
  
  font-size: medium;
  
}
#submit{
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
 
  width: 175px;
  height: 45px;
  
  border : "thick solid #0000FF";
  color: #f1f7f4;
  background-color: rgb(62, 28, 117);
  
  
  margin-left: 150px;
  border-color: rgb(62, 28, 117);
  border-radius: 25px;

}
.dropdown{
  margin-left: 50px;
  
  height: 25%;
  display: flex;
  flex-direction: row;
  border-color: rgb(163, 167, 164);
  border-radius: 25px;
}